$color1: #35BC7A;
$color2: #EABF52;
$color3: #2A94C1;
$color4: #FF5151;
$color5: #70C1B3;
$color6: #FF863F;
$color7: #8858B5;
$color8: #FF637B;

/*=======================================
>>>>>  G-E-N-E-R-A-L  S-T-Y-L-E-S  <<<<<<
========================================*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  margin: 0;
}

main {
  display: flex;
  height: 100%;
}

/*========================================
>>>  S-L-I-D-E-S-H-O-W  S-E-C-T-I-O-N <<<<
========================================*/

.slideshow {
  position: relative;
  height: 100vh;
  width: 40%;
  background: url('images/1.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
  order: 1;
}

.page-dots {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  font-size: .8em;
  cursor: default;

  i {
    opacity: .3;
    margin-left: .3rem;

    &:hover {
      opacity: .6;
      cursor: pointer;
    }

    &.active {
      opacity: .8;
    }
  }
}

.arrow {
  top: 50%;
  transform: translateY(-50%);
  font-size: 3em;
  opacity: .3;
  position: absolute;
  padding: 1rem;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}

#left-arrow {
  left: 0;
}

#right-arrow {
  right: 0;
}

/*=======================================
>>>>>>>>>  P-R-I-M-A-R-Y  B-O-X  <<<<<<<<
========================================*/

#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66.6666%;
  height: 33.3333vh;
  background-color: $color1;
  color: #fff;
  padding: 2em;
}

h1 {
  font-size: 1.6em;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.04em;
}

.tagline {
  font-weight: 200;
  font-size: 1em;
  line-height: 1.8;
  letter-spacing: 0.02rem;
  margin: .7rem 0;
}

button {
  border: 2px solid #fff;
  background-color: transparent;
  color: inherit;
  padding: 1em 1.5em;
  font-size: 0.8em;
  letter-spacing: 0.02rem;
  margin-right: 0.8em;
  text-transform: uppercase;
  transition: all 200ms;

  &:hover {
    background-color: #fff;
    color: $color1;
    cursor: pointer;
  }
  i {
    margin-right: .5em;
  }
}


/*=======================================
>>>>>>>>  - B - O - X - E - S -  <<<<<<<<
========================================*/

.boxes {
  display: flex;
  flex-flow: row wrap;
  width: 60%;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width:33.3333%;
  height: 33.3333vh;
  transition: border 200ms;
  i {
    font-size: 4em;
    margin-bottom: 0.5rem;
  }
  .box-title {
    text-transform: uppercase;
    margin: 0;
    font-size: 0.8em;
    letter-spacing: 0.1em;
  }
  &:hover {
    cursor: pointer;
    border: 0.7em solid #fff;
    box-shadow: inset 0 0 1.5em rgba(0, 0, 0, 0.6);
  }
}

// Box Colors
#profile {background-color: $color2;}
#experience {background-color: $color3;}
#education {background-color: $color4;}
#blog {background-color: $color5;}
#social-menu {background-color: $color6;}
#contact {background-color: $color7;}
#portfolio {background-color: $color8;}


/*========================================
>>>>>>>  M-E-D-I-A  Q-U-E-R-I-E-S  <<<<<<<
========================================*/

//  1300 and over
@media (min-width: 1450px) {
  body {
    font-size: 20px;
  }
}

//  1850 and over
@media (min-width: 1850px) {
  body {
    font-size: 25px;
  }
}

//  2400 and over
@media (min-width: 2400px) {
  body {
    font-size: 30px;
  }
}

// under 1175px
@media (max-width: 1175px) {
  .tagline {
    font-size: 0.83em;
  }
}

// under 1024
@media (max-width: 1024px) {
  main {
    flex-direction: column;
  }

  .slideshow {
    height: 50vh;
    width: 100%;
    order: 0;
  }

  button {
    padding: 1.1em 1.7em;
    font-size: 1em;
  }

  .boxes {
    width: 100%;
  }

  .box {
    width: 50%;
    height: 25vh;
    min-height: 125px;
    font-size: 1em;
  }

  #info {
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 1em;
    height: 50vh;
  }

  h1 {
    font-size: 2.5em;
  }

  .tagline {
    font-size: 1.4em;
  }

  #profile {
    width: 100%;
  }
}

// under 600px
@media (max-width: 625px) {
  .tagline {
    font-size: 1.2em;
  }
}

// under 550px width
@media (max-width: 550px) {
  .tagline {
    font-size: 1em;
  }
}

// under 550px height
@media (max-height: 550px) {
  #info {
    font-size: 11px;
  }
}

// under 420px height
@media (max-height: 420px) {
  #info {
    font-size: 10px;
  }

  .tagline {
    font-size: 1.3em;
  }

  button {
    font-size: 1.2em;
  }

  .box {
    font-size: 8px;
    min-height: 0;
  }

  h3 {
    font-size: 10px;
  }
}

// under 450
@media (max-width: 450px) {
  h1 {
    font-size: 1.5em;
  }
  .tagline {
    font-size: 0.9em;
    width: 200px;
    line-height: 1.4;
  }

  .line1 {
    display: inline-block;
    margin-bottom: .5em;
  }

  button {
    width: 100%;
    margin: 0;
    padding: 0.8em 0.4em;
    font-size: .9em;
    &:first-child {
      margin-bottom: 1em;
    }
  }

  .box {
    font-size: .75em;
  }
}
