/*=======================================
>>>>>  G-E-N-E-R-A-L  S-T-Y-L-E-S  <<<<<<
========================================*/
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-family: 'Muli', sans-serif;
  margin: 0; }

main {
  display: flex;
  height: 100%; }

/*========================================
>>>  S-L-I-D-E-S-H-O-W  S-E-C-T-I-O-N <<<<
========================================*/
.slideshow {
  position: relative;
  height: 100vh;
  width: 40%;
  background: url("images/1.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  order: 1; }

.page-dots {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  font-size: .8em;
  cursor: default; }
  .page-dots i {
    opacity: .3;
    margin-left: .3rem; }
    .page-dots i:hover {
      opacity: .6;
      cursor: pointer; }
    .page-dots i.active {
      opacity: .8; }

.arrow {
  top: 50%;
  transform: translateY(-50%);
  font-size: 3em;
  opacity: .3;
  position: absolute;
  padding: 1rem; }
  .arrow:hover {
    opacity: 0.8;
    cursor: pointer; }

#left-arrow {
  left: 0; }

#right-arrow {
  right: 0; }

/*=======================================
>>>>>>>>>  P-R-I-M-A-R-Y  B-O-X  <<<<<<<<
========================================*/
#info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 66.6666%;
  height: 33.3333vh;
  background-color: #35BC7A;
  color: #fff;
  padding: 2em; }

h1 {
  font-size: 2em;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.04em; }

.tagline {
  font-weight: 200;
  font-size: 1em;
  line-height: 1.4;
  letter-spacing: 0.02rem;
  margin: .7rem 0 1rem; }

button {
  border: 2px solid;
  background-color: transparent;
  color: inherit;
  padding: 0.8em 1.5em;
  font-size: .7em;
  letter-spacing: 0.02rem;
  margin-right: 1em;
  text-transform: uppercase;
  transition: all 200ms; }
  button:hover {
    background-color: #fff;
    border-color: #fff;
    color: #35BC7A;
    cursor: pointer; }
  button i {
    margin-right: .5em; }

/*=======================================
>>>>>>>>  - B - O - X - E - S -  <<<<<<<<
========================================*/
.boxes {
  display: flex;
  flex-flow: row wrap;
  width: 60%; }

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 33.3333%;
  height: 33.3333vh;
  transition: border 200ms; }
  .box i {
    font-size: 4em;
    margin-bottom: 0.5rem; }
  .box .box-title {
    text-transform: uppercase;
    margin: 0;
    font-size: 0.9em;
    letter-spacing: 0.1em; }
  .box:hover {
    cursor: pointer;
    border: 0.7em solid #fff; }

#profile {
  background-color: #3095cd; }

#experience {
  background-color: #ec736a; }

#education {
  background-color: #c675c9; }

#blog {
  background-color: #e7b855; }

#social-menu {
  background-color: #e38b3a; }

#contact {
  background-color: #0D9B93; }

#portfolio {
  background-color: #0E4A5D; }

/*========================================
>>>>>>>  M-E-D-I-A  Q-U-E-R-I-E-S  <<<<<<<
========================================*/
@media (min-width: 1450px) {
  body {
    font-size: 20px; } }
@media (min-width: 2000px) {
  body {
    font-size: 25px; } }
@media (min-width: 2400px) {
  body {
    font-size: 30px; } }
@media (max-width: 1175px) {
  .tagline {
    font-size: 0.83em; } }
@media (max-width: 1024px) {
  main {
    flex-direction: column; }

  .slideshow {
    height: 50vh;
    width: 100%;
    order: 0; }

  button {
    padding: 1.1em 1.7em;
    font-size: 1em; }

  .boxes {
    width: 100%; }

  .box {
    width: 50%;
    height: 25vh;
    min-height: 125px;
    font-size: 1em; }

  #info {
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: 1em;
    height: 50vh; }

  h1 {
    font-size: 2.5em; }

  .tagline {
    display: inline-block;
    font-size: 1.4em; }

  #profile {
    width: 100%; } }
@media (max-width: 625px) {
  .tagline {
    font-size: 1.2em; } }
@media (max-height: 550px) {
  #info {
    font-size: 12px; } }
@media (max-height: 420px) {
  #info {
    font-size: 10px; }

  .tagline {
    font-size: 1.3em; }

  button {
    font-size: 1.2em; }

  .box {
    font-size: 8px;
    min-height: 0; }

  h3 {
    font-size: 10px; } }
@media (max-width: 450px) {
  h1 {
    font-size: 1.5em; }

  .tagline {
    font-size: 0.9em;
    width: 200px; }

  .line1 {
    display: inline-block;
    margin-bottom: .5em; }

  button {
    width: 100%;
    margin: 0;
    padding: 0.8em 0.4em;
    font-size: 1em; }
    button:first-child {
      margin-bottom: 1em; }

  .box {
    font-size: .75em; } }

/*# sourceMappingURL=styles.css.map */
